<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">


    <display-name>module4</display-name>


    <servlet>
        <servlet-name>RaceServlet</servlet-name>
        <servlet-class>ua.rakhmail.servlets.RaceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RaceServlet</servlet-name>
        <url-pattern>/race</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>StatsServlet</servlet-name>
        <servlet-class>ua.rakhmail.servlets.StatsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StatsServlet</servlet-name>
        <url-pattern>/stats</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>StartRunServlet</servlet-name>
        <servlet-class>ua.rakhmail.servlets.StartRaceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StartRunServlet</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>


</web-app>